parameters:
  paths:
    - src
    - tests
  level: max
  checkGenericClassInNonGenericObjectType: true
  checkMissingCallableSignature: true
  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true
